body {
	background: rgb(94, 176, 157);
}

#tweetsDisplay {

	background: rgb(220, 170, 30);
	border: rgb(241, 212, 220) solid;
	display: inline-block;
	height: 70%;
	width: 60%;
	padding: 40px 40px;
	overflow-y: hidden;
	text-align: left;

}

button {

 font-size: 12px;
 text-align: center;
 background-color: rgb(231, 74, 43);
 border: rgb(220, 170, 30) solid;
 border-radius: 10px;
 box-shadow: 2px 2px rgb(49, 103, 166);
 color: rgb(249, 242, 247);
 width: 60%;
 margin: 20px 0;
}

.wrapper {
	text-align: center;
}