body {
	background: rgb(94, 176, 157);
}

#tweetsDisplay {

	background: rgb(220, 170, 30);
	border:  rgb(241, 212, 220) solid;
	display: inline-block;
	height: 70%;
	width: 60%;
	padding: 25px 40px;
	overflow-y: hidden;
	text-align: left;

}

button {

 font-size: 16px;
 text-align: center;
 background-color: rgb(231, 74, 43);
 border: rgb(220, 170, 30) solid;
 border-radius: 10px;
 box-shadow: 2px 2px rgb(49, 103, 166);
 color: rgb(249, 242, 247);
 width: 50%;
 height: 40px;
 margin: 20px 0;
}

.wrapper {
	text-align: center;
}

.tweet_elements {
	display: inline-flex;
	margin: 20px 0;
	width: 100%;
	border: rgb(249, 242, 247) solid;
	border-radius: 10px;
}

.userName {
	color: rgb(231, 74, 43);
	display: inline-block;
	padding: 10px;
	width: 20%;
	background-color: rgb(220, 170, 30);
	margin: auto;
}

.tweets {
	display: inline-block;
	width: 60%;
	margin: auto;
	padding: 0 0 0 30px;
}

.timestamp {
	display: inline-block;
	width: 20%;
	color: rgb(241, 212, 220);
	margin: auto;
}